*{
    font-size: 13px;
    font-family: "IBM Plex Sans Medium";
    color: #dadada;
}

#waybar {
  background: transparent;
  border-radius: 5px;
}

#workspaces{
  border-radius:5px;
  box-shadow:0px 0px black;
}

#workspaces,
#network,
#wireplumber,
#clock,
#custom-notification,
#custom-telegram{
  margin-left:5px;
  margin-right: 5px;
  background: #141b1e;
  border-radius:5px 0px 0px 5px;
  padding-left:10px;
  padding-right: 10px;
}

#network,
#wireplumber{
  margin:0px;
}

#wireplumber{
  border-radius: 0px 5px 5px 0px;
}

#clock,
#workspaces,
#custom-notification,
#custom-telegram{
  border-radius: 5px;
}
